/* You can add global styles to this file, and also import other style files */

.hover-cursor {
    cursor: pointer;
}

.jumbotron {
    border: 1px solid tomato;
    background-color: tomato;
}

.heading {
    color: seashell;
    width: 400px;
    height: 50px;
    text-align: center;
    align-items: center;
}

h3 {
    text-align: center;
    margin-left: 25px;
    font-size: 27px;
}